:root {
    --primary-color: rgba(10,104,255);
    --while-color: #FFFFFF;
    --text-color: rgba(128,128,137);
    --title-color:#333;

    /*height*/
    --height-header: 120px;
    --height-navbar-wrapper: 34px;
    --padding-top: 130px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    font-family: Helvetica Neue, Helvetica, Arial, 文泉驛正黑, WenQuanYi Zen Hei, Hiragino Sans GB, 儷黑 Pro, LiHei Pro, Heiti TC, 微軟正黑體, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}
a {
    text-decoration: none;
}
input,button{
    font-size: 1.6rem;
}
.blue{
    color: blue;
}
