.wrapper {
  width: 100%;
  height: 48px;
}
.nav-item {
  font-size: 14px;
 
}
.dropdown-menu.show {
  padding: 5px 10px !important;

}
@mixin caret-start {
  border-top: $caret-width solid transparent;
  border-right: $caret-width solid;
  border-bottom: $caret-width solid transparent;
}
