.wrapper {
  height: 600px;
  background-color: var(--primary-color);
  overflow-x: auto;
}

//column
.content {
  display: flex;
  align-items: center;
}

.card-column-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  font-size: 2rem;
  font-weight: bold;
}

.create-column {
  width: 150px;
  background-color: aqua;
  border-radius: 4px;
  padding: 6px 8px;
  margin-top: 20px;
  margin-right: 100px;
}

.create-column {
  max-width: 200px;
  display: flex;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
  opacity: 1;
  margin-bottom: 10px;

  &:hover {
    opacity: 0.7;
  }
}

.add-column {
  width: 300px;
  margin-left: 12px;
  margin-top: 20px;
  border-radius: 4px;
  margin-right: 100px;
  background-color: var(--while-color);
}
.input{
  padding: 8px 14px;
}
.input-add {
  font-size: 1.6rem;
  padding: 0 12px;
  margin-top: 20px;
}
.function{
  padding: 12px;
}
.icon-remove{
  font-size: 2rem;
  margin-left: 20px;
  cursor: pointer;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }
}

